<button type="button" class="btn btn-primary btn-circle btn-xl btn-float" (click)="newPosterDialogOpen(posterDialog)">
  <i class="fa fa-plus"></i>
</button>

<ng-template #posterDialog>
  <div class="modal-content">
    <div *ngIf="!loading">
      <div class="modal-header">
        <h2>Add new Poster</h2>
      </div>
      <form>
        <div class="modal-body">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" [(ngModel)]="poster.location[0]" name="lat">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" [(ngModel)]="poster.location[1]" name="long">

          <label for="comment">Comment</label>
          <input type="text" class="form-control" id="comment">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="confirm()">Add poster</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
        </div>
      </form>
    </div>
    <div *ngIf="loading">
      <div class="spinner-border"></div>
    </div>
  </div>
</ng-template>