@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.full-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;

    .full-child {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 3rem;
    }
}
