<div class="full-container">
  <aside class="col-sm-4 full-child">
    <div class="card">
      <article class="card-body">
        <a routerLink="/signup" class="float-right btn btn-outline-primary">Sign up</a>
        <h3 class="card-title mb-4 mt-1">Log in</h3>
        <div *ngIf="error" class="alert alert-danger" [@popInAnimation]>
          {{error}}
          <button type="button" class="close" aria-label="Close" (click)="closeError()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="logIn()" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" [(ngModel)]="username" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">Log in</button>
        </form>
      </article>
    </div>
  </aside>
</div>