<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarToggler" [attr.aria-expanded]="menu" aria-label="Toggle navigation" (click)="menu=!menu" *ngIf="authService.user">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="" class="navbar-brand">
    Posters
  </a>
  <div class="collapse navbar-collapse" id="navbarToggler" [ngbCollapse]="!menu">
    <ul class="navbar-nav mr-auto" *ngIf="authService.user">
      <li class="nav-item">
        <a routerLink="/map" routerLinkActive="active" class="nav-link">Map</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list" routerLinkActive="active" class="nav-link">List</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user/{{authService.user.id}}" routerLinkActive="active" class="nav-link">My Account</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin" routerLinkActive="active" class="nav-link" *ngIf="authService.user.admin">Administration</a>
      </li>
      <li class="nav-item">
        <a routerLink="/logout" routerLinkActive="active" class="nav-link">Log Out</a>
      </li>
    </ul>
  </div>
</nav>